body{
	background-color: black;
}
.top{
	
	height: 60px;
    width: 1276px;
    margin:0 auto;
	background-color:rgb(33,137,190);
}
.main{
	width: 1276px;
	height: 900px;
	margin: 0 auto;
	display: flex;

}
.left{
	display: flex;
	width: 260px;
	background-color: rgb(43,46,61);
    flex-wrap:wrap;
    color:rgb(106,124,144);



}
.right{
	 
	width: 1020px;
	background-color: rgb(238,238,238);
     

}
#logo{
	position: relative;
	top: 11px;
	left: 60px;
	width:50px;
}
.search_login{

    float: right;
    margin-right: 120px;
    
    margin-top:-15px;
}
#search{
	width: 260px;
	line-height: 20px;
    border-radius: 15px;
    cursor:pointer;
    text-indent:30px;
    box-shadow:5px;
    background: url("./images/task_1_9_1-(1)_06.gif") no-repeat;
    background-position:5px 2px;
    background-color: #fff;
    margin-right: 20px;
}
#login{
	float: right;
	margin-top: 5px;
}
.person{
	display: flex;
	height: 150px;
	flex-wrap:wrap;
	background-color: rgb(42,46,61);
	
	
}
.head{
	padding: 30px;
	display: flex;
	flex:2;
	padding-left: 60px;
}

.head > a > h2{ 
	display:inline-block;
	color: #FFF;
	margin-left: 10px;
	margin-top: 17px;
}
h3{
	color:rgb(94,110,126);
}
.info{
	display: flex;
	flex:2;
	 }
#collect{
	display: flex;
	flex:2;
	
	flex-direction:column;
	justify-content:center;	
	padding-left:40px;
	border-right: solid 2px #dedede;
	margin: 10px;
}
#fans{
	display: flex;
	flex:2;	
	flex-direction:column;
	justify-content:center;
	padding-left: 8px;
	margin: 15px;
}
.spread{
    display: flex;
	color: #fff;
	padding:15px;
	height: 700px;
	display: block;
	justify-content:center;
	 
}

.list{
    margin-left: 45px;
    display: block;
    color: rgb(77,90,107); 
    margin-top: 20px;
}
.list li{
	margin: 23px;
}
.list li img{
	margin-right: 13px;
}
.list li a {
	color:rgb(106,124,144);
}
.select{
	color:#FFF;	
}
.main-right-top{
	background-color: #fff;
    display: block;
    width: 990px;
    height: 30px;
    padding-top: 10px;
    padding-left: 30px;
     
     
}
.main-right-top a {
	color: rgb(176,176,176);
	margin-left: 8px;
}
.main-right-top a:last-child{
	color: rgb(117,160,198);
}
.main-search{
	 
    margin: 20px auto;
    width: 890px;
    height: 80px;
	border:solid 1px rgb(221,223,225);
	background-color: #fff;
}